*{
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}
html{
    height: 100%;
    display: block;
}
body{
    background: #fff;
    font-family: "微软雅黑",helvetica,arial;
    font-size: 18px;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}
.event_header{
    width: 100%;
    text-align: center;
    height: 50px;
    background: #2d2d2e;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.event_title{
    line-height: 50px;
}
.event_header a{
    width: 35px;
    display: block;
    height: 50px;
    background: #2d2d2e;
    color: #fff;
    font-size: 22px;
    line-height: 50px;
    position: absolute;
    top: -1px;
    left: 0px;
    text-decoration: none;
    text-align: center;
}
.user{
    font-size: 18px;
    margin: 4% 0 0 5%;
}
.user span{
    display: inline-block;
    width: 22%;
    text-align: left;
}
.input_text{
    width: 70%;
    display: inline-block;
}
.update{
    margin-top: 3%;
    margin-right: 10%;
    float: right;
    width: 100px;
    padding: 6px 0px;
}